<div class="row">
  <div class="span7 offset1">
    <%= form_for @user, :url => password_reset_path(params[:id]), :html => { :class => 'form-horizontal well' } do |f| %>
      <%= render :partial => "common/obj_errors", :locals => { :obj => @user } %>
      <fieldset>
        <legend>Reset Password</legend>
        <div class="control-group">
          <%= f.label :password, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, :class => 'text-field'  %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation, :class => 'text-field'  %>
          </div>
        </div>
        <div class="form-actions"><%= f.submit "Update Password", :class => 'btn btn-primary' %></div>
      </fieldset>
    <% end %>
  </div>
</div>
