<div class="row">
  <div class="span7 offset1">
    <%= form_for @user, :html => { :class => 'form-horizontal well' } do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <fieldset>
        <legend>User Sign Up</legend>
        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'text-field' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, :class => 'text-field'  %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, :class => 'text-field'  %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation, :class => 'text-field'  %>
          </div>
        </div>
        <div class="form-actions"><%= f.submit "Sign Up", :class => 'btn btn-primary' %></div>
      </fieldset>
    <% end %>
  </div>
</div>
