<%- model_class = Product.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<ul class="thumbnails">
  <% @products.each do |product| %>
    <li class="span3">
      <div class="thumbnail">
        <% if !product.images.empty? %>
          <%= image_tag product.images[0].path_url(:thumb) %>
        <% end %>
        <h5><%= link_to product.name, product_path(product) %></h5>
        <p><%= product.description %></p>
        <p>
          <% if !session[:user_id].nil? %>
            <a class="btn btn-inverse" id="add_to_cart" product_id="<%= product.id %>" href="#"><i class="icon-shopping-cart icon-white"></i>Add to Cart</a>
            <a class="btn btn-inverse" href="#"><i class="icon-plus-sign icon-white"></i>Order</a>
          <% end %>
        </p>
      </div>
    </li>
  <% end %>
</ul>
