<div class="container">
  <%- model_class = @product.class -%>
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
  <p>
    <%= image_tag @product.image_url(:thumb) %>
  </p>
  <p>
    <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
    <%= @product.name %>
  </p>
<p>
  <strong><%= model_class.human_attribute_name(:price) %>:</strong><br>
  <%= @product.price %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:type) %>:</strong><br>
  <%= @product.type %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:quantity) %>:</strong><br>
  <%= @product.quantity %>
</p>

</div>
