<%- model_class = @product.class -%>
<div class="row">
  <div class="span4">
    <div class="well">
      <div id="product_carousel" class="carousel slide">
        <div class="carousel-inner">
          <% @product.images.each_with_index do |img, i| %>
            <div class="item <%= i == 0 ? "active" : "" %>">
              <%= image_tag img.path_url(:medium) %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control left show-product" href="#product_carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right show-product" href="#product_carousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
  <div class="span8">
    <br/>
    <h2><%= @product.name %></h2>
    <p><%= @product.description %></p>
    <h4><%= sprintf("Rs. %0.02f", @product.price) %></h4><br/>
    <% if @product.product_items.size > 0 %>
      <select id="product_size">
        <option>Choose Size</option>
        <% (@product.product_items.collect {|item| item.size }).each do |size| %>
          <option value="<%= size %>"><%= size %></option>
        <% end %>
      </select>
    <% else %>
      <h5>Out of Stock</h5>
    <% end %>
    <br/>
    <% if !session[:user_id].nil? %>
      <a class="btn btn-primary" id="add_to_cart" product_id="<%= @product.id %>" href="#"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
      <br/><br/>
      <a class="btn btn-primary" href="#"><i class="icon-plus-sign icon-white"></i> Order</a>
    <% end %>
  </div>
</div>
